<mat-card class="mat-elevation-z5">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" class="top-bar">
    </mat-progress-bar>
    <mat-card-header>
        <mat-card-title>EduRide- An initiative by IIT Students and Alumni</mat-card-title>
        <mat-card-subtitle>Helping future of India, our students reach exam centres</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="flex-row">
            <div class="temp">
                <h3>Student</h3>
                <span>Request a ride to exam centre</span><br>
                <a href="https://bigshyft.typeform.com/to/mJhWiKCl">Click Here</a>
            </div>

            <div  class="temp">
                <h3>Alumni/Volunteer</h3>
                <span>Help students reach exam centre</span><br>
                <a href="https://bigshyft.typeform.com/to/UhxD8bGi">Click Here</a>
            </div>
        </div>
        
    </mat-card-content>

    <!-- <mat-card-content>
        <div style="text-align:left;" class="flex-row">
            <div>
                <h4>Students have to submit these details to request a ride-</h4>
                <span>Request a ride to exam centre</span><br>
                <a href="https://bigshyft.typeform.com/to/mJhWiKCl">Click Here</a>
            </div>

            <div  class="temp">
                <h3>Alumni/Volunteer</h3>
                <span>Help students reach exam centre</span><br>
                <a href="https://bigshyft.typeform.com/to/UhxD8bGi">Click Here</a>
            </div>
        </div>
        
    </mat-card-content> -->
    
</mat-card>